[env]
SSDETECT_MISE_ACTIVE = 'true'

[settings]
env_file = '.env'

[tools]
claude = { version = '2.1.22' }
codex = { version = '0.92.0' }
gemini = { version = '0.26.0' }
python = { version = '3.14.2' }
uv = { version = '0.9.27' }

[tasks]
'claude' = { run = "bun run claude", description = "Invoke Claude Code", alias = "cc" }
'sample' = { run = "rm -rf input output; mkdir output; cp -r _sample input", description = "Set the samples up fresh", alias = "s" }
